body {
  background-color: mistyrose;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html {
  height: 100%;
}

.searching {
   border: 1px solid black;
   height: 250px;
   width: 250px;
   vertical-align: middle;
}

.history {
  margin: 20px;
}
