<link rel="stylesheet" href="/stylesheets/index.css">

<div class="searching">
  <h1>Movie</h1>

  <form action="/show" >
    <input type="text" name="title" placeholder="Title">
    <button>Search</button>
  </form>
  
</div>
