.logo {
  float: left;
  height: 50px;
  width: 10%;
  background-color: red;
  text-align: center;
}
.onlineBank {
  float: left;
  width: 90%;
  text-align: center;
}
.main {
  clear: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  border: 1px solid black;
  margin: 0 60px;
}
.orangeBox, .yellowBox {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
}
.orangeBox {
  background-color: orange;
}
.yellowBox {
  background-color: yellow;
}
.buttons {
  margin-top: 20px;
}
