<h1>Welcome to Pokemon World</h1>
<a href="/pokemons/new">Create a new pokemon</a>

<script src="http://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script>
 console.log('sss')
  var options = {
    url: '/api/pokemons',
    method: 'get'
  }
  $.ajax(options).done(function(response) {
    response.forEach(function(res) {
      console.log(res.id)
      console.log(res.species)
      console.log(res.nickname)
      console.log(res.level)
      var $a = $('<a>').attr('href', 'pokemons/'+res.id)
      console.log($a)
      var $p1 = $('<p>').text('id: '+res.id)
      var $p2 = $('<p>').text('species: '+res.species)
      var $p3 = $('<p>').text('nickname: '+res.nickname)
      var $p4 = $('<p>').text('level: '+res.level)
      $a.append($p1)
      $('body').append($a)
      // $('body').append($p1)
      $('body').append($p2)
      $('body').append($p3)
      $('body').append($p4)
      $('body').append('<br>')
    })
  })
</script>
