<link rel="stylesheet" href="/stylesheets/index.css">

<div class="searching">
  <h1>Movie</h1>

  <form action="/movie_list" >
    <input type="text" name="title" placeholder="Title">
    <button>Search</button>
  </form>

<div class="history">
  <form action="/history" >
    <button>My history</button>
  </form>
</div>

  <!-- <a href="/history">History</a> -->

</div>
